[Desktop Entry]
Encoding=UTF-8
Version=1.40
Type=Application
Name=robotfindskitten
Comment=robot finds kitten
Exec=/usr/bin/rfk
Icon=rfk
X-Icon-path=/usr/share/pixmaps/
MimeType=text/x-rfk-nki
# This works, but we don't properly respond to it yet,
# so we eventually get SIGKILLed.  This needs fixing.
#X-Osso-Service=org.robotfindskitten
