[Desktop Entry]
Encoding=UTF-8
Version=1.10
Type=Application
Name=robotfindskitten
Comment=robot finds kitten
Exec=/usr/bin/rfk
Icon=rfk
X-Icon-path=/usr/share/pixmaps/
MimeType=text/x-rfk-nki
X-Osso-Service=org.robotfindskitten
