Package: rfk
Version: 1.10-1
Architecture: armel
Maintainer: Thomas Thurman <tthurman@gnome.org>
Installed-Size: 136
Depends: libatk1.0-0 (>= 1.24.0), libc6 (>= 2.5.0-1), libcairo2, libglib2.0-0 (>= 2.14.6-1osso1), libgtk2.0-0 (>= 2:2.12.9-0osso1), libhildon1, libpango1.0-0
Section: unknown
Priority: extra
Description: robot finds kitten for maemo
  robotfindskitten is a "Zen simulation," originally written
  by Leonard Richardson for DOS.  The user must find a kitten
  in a field of random entities.
